@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  background: #2E2E2E;
  color: #D9FAFF;
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
}

/* Navbar */
nav {
  width: 93%;
  height: auto;
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  z-index: 2;
}
nav .name {
  font-weight: 400;
  font-size: 20px;
  width: 300px;
  text-align: center;
  letter-spacing: 10px;
  color: #D9FAFF;
  cursor: default;
  transition: 100ms;
}
nav .name:hover {
  letter-spacing: 15px;
}
nav .nav-links {
  display: flex;
  flex-direction: column;
  width: 100px;
}
nav .nav-links a {
  text-decoration: none;
  color: inherit;
  font-weight: 800;
  margin-bottom: 5px;
  text-align: right;
  transition: 100ms;
}
nav .nav-links a:hover {
  /* opacity: .8; */
  letter-spacing: 2px;
}
nav .dull-div {
  width: 100px;
}

/* Sidebar */
.sidebar {
  background: transparent;
  height: 100%;
  width: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 2%;
  z-index: 2;
}
.sidebar .img-div {
  width: 100%;
  height: 87px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sidebar .logo {
  width: 60px;
  border-radius: 50%;
  cursor: pointer;
}
.sidebar .links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  margin-bottom: 50px;
}
.sidebar img {
  width: 40px;
  margin-bottom: 25px;
  cursor: pointer;
  transition: 100ms;
}
.sidebar img:hover {
  transform: scale(1.1);
}
.sidebar .facebook {
  width: 60px;
}

/* About */
.about {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

/* Footer */
.footer {
  width: 100%;
  height: 300px;
  position: absolute;
  bottom: 0;
}



/* Responsive */
@media screen and (max-width: 768px) {
  nav .name {
    font-size: 15px;
  }
  nav .nav-links a {
    font-size: 13px;
  }

  .sidebar .logo {
    width: 50px;
  }
  .sidebar img {
    width: 30px;
  }
  .sidebar .facebook {
    width: 45px;
  }
}

@media screen and (max-width: 480px) {
  nav .name {
    font-size: 12px;
    letter-spacing: 5px;
    width: 150px;
  }
  nav .name:hover {
    letter-spacing: 5px;
  }
  nav .nav-links a {
    font-size: 12px;
  }

  .sidebar {
    left: 0;
    width: 100px;
  }
  .sidebar .logo {
    width: 45px;
  }
  .sidebar img {
    width: 25px;
  }
  .sidebar .facebook {
    width: 35px;
  }
}